<!DOCTYPE html>
<nav class="navbar navbar-default navbar-compact">
	<div class="navbar-header">
		<span class="navbar-brand">Servers</span>
	</div>
	<a ng-click="create($scope)">Create</a>
	<form class="navbar-form navbar-right" role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search" ng-model="filterValue" ng-change="filter()"/>
		</div>
	</form>
</nav>
<div id="serverTable" 
	ui-grid="gridCfgs" 
	ng-style="{height: 18*30+42+'px'}" 
	ui-grid-auto-resize 
	ui-grid-pagination
	class="main-grid">
	<!-- 
 -->
</div>
<script type="text/ng-template" id="server_modal">
</script>